body {
  background-color: #8e8e8e;
}
.container {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-inner img {
  max-height: 400px;
  object-fit: contain;
}

h2 {
  color: #ffff;
}

p {
  color: #ffff;
}
